footer {
    background-color: #111;
    color: #fff;
    font-family: 'DM Sans', sans-serif;
    padding: 3rem 2rem 1rem 2rem;
    margin-top: 20rem;
 
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 2rem;
  }
  
  .footer-info{
    flex: 1;
    min-width: 150px;
  }
 
  
  .footer-info h3 {
    color: #ffffff;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
  }
  
  .footer-info p {
    font-size: 0.95rem;
    line-height: 1.5;
    opacity: 0.9;
    color: #e4e4e4;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.85rem;
    opacity: 0.7;
    
  }
  