.footer {
  background-color: #000;
  color: #ccc;
  padding: 2rem 0;
  text-align: center;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.footer-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: #ccc;
}

.footer-socials {
  display: flex;
  gap: 25px;
  margin-left: 1500px;
}

.footer-socials a {
  color: #888;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-socials a:hover {
  color: #ff0000;
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #7a7878;
}
